<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>To-Dos-List</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h2>Todos for today:</h2>
<h1>Form</h1>
<form action="#" th:action="@{/Todo}" th:object="${Todo}" method="post">
    <p>Title: <input type="text" th:field="*{Todo.setTitle()}" /></p>
    <p>Is Urgent: <input type="text" th:field="*{Todo.setUrgent()}" /></p>
    <p>Is Done: <input type="text" th:field="*{Todo.setDone()}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Urgent</th>
        <th>Done</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td th:text="${todo.isDone()}"></td>
    </tr>
    <tr>
</table>
</body>
</html>